@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/background.jpg);
    background-size: cover;
    background-position:center ;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}

.navbar ul li a::after{
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(0, 255, 64);
    position: absolute;
    left: 0;
    bottom:-5px ;
    transition: 0.4s;
}
.navbar ul li a:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:white;
}

.content h1{
    font-weight: 700;
    font-size: 60px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 600;
    line-height: 25px;
}

.tus{
    text-decoration: none;
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: 700;
    border: 2px solid rgb(0, 255, 64);
    background-color: transparent;
    color:#fff;
    cursor: pointer;
    position: relative;
    transition: 0.4s;
}
.tus:hover{
    color: black;
    background-color: rgba(240, 248, 255, 0.795);
    border: 2px solid rgb(0, 0, 0);
}